In [4]:
# Loading the Libraries
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import os,glob
COUNTRY_PATH = '/Users/boristsao/Documents/Projects/GBLU/upload/data/countries.xlsx'

In [6]:
data = pd.read_excel(COUNTRY_PATH)
data.head()

          country country_code
0     Afghanistan          AFG
1         Albania          ALB
2         Algeria          DZA
3  American Samoa          ASM
4         Andorra          AND

In [13]:
# Connecting to Planet Scale
ssl_args = {'ssl_ca': "/etc/ssl/cert.pem"}

conn_string = 'mysql+pymysql://' + os.getenv("PLANETSCALE_USER") + ':' + os.getenv("PLANETSCALE_PASSWORD") + '@' + os.getenv("PLANET_SCALE_HOST") + '/' + os.getenv("PLANETSCALE_DATABASE") 

engine = create_engine(conn_string, connect_args=ssl_args)

with engine.begin() as connection:
    data.to_sql('countries', con=connection, if_exists='replace')

In [14]:
with engine.begin() as connection:
    read_test = pd.read_sql("SELECT * FROM countries", con=connection)

In [11]:
read_test.head()

   index         country country_code
0      0     Afghanistan          AFG
1      1         Albania          ALB
2      2         Algeria          DZA
3      3  American Samoa          ASM
4      4         Andorra          AND